.book-management-container {
    display: flex;
    min-height: 100vh; 
    flex-direction: row;
    background-color: #f8f9fa;
}

.book-management-content {
    flex: 1; 
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

